<div class="container text-center">
	<div class="row login-top">
		<div class="">
			<h2 class="center-text-bold">Player Detail</h2>

			<div class="form-row">



				<div class="col-md-12 form-group">

					<label><b>Name</b></label> : <span th:text="${player.name}"></span>
				</div>

				<div class="col-md-12 form-group">

					<label><b>Email</b></label> : <span th:text="${player.email}"></span>
				</div>
				
				<div class="col-md-12 form-group">

					<label><b>Age</b></label> : <span th:text="${player.age}"> years</span>
				</div>
				
				<div class="col-md-12 form-group">

					<label><b>Gender</b></label> : <span th:text="${#strings.capitalize(player.gender)}"></span>
				</div>

			</div>

		</div>
	</div>

</div>

</body>
</html>